.comment {
    --comment-bg: #e3efee;
    --comment-d-bg: #2a4765;
    margin-top: 20px;
    padding: 5px;
}

.add-comment-btn {
    float: right;
}

.comment-header {
    background: var(--comment-bg);
    padding-right: 100px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

.comment-content {
    border: 2px solid var(--comment-bg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.comment-text {
    padding: 10px;
}

.comment-reactions {
    border-top: 2px solid var(--comment-bg);
    padding: 5px;
}

.comment-reaction-item {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 2px solid var(--comment-bg);
}

@media (prefers-color-scheme: dark) {
    .comment {
        --comment-bg: var(--comment-d-bg);
    }
}
