/*
 * Navigation menu CSS
 */

.nav-link {
    text-decoration: none;
}
.nav-link.active {
    color: var(--nc-lk-2);
}

/* Pure CSS way to create a hamburger menu icon */
.hamburger {
    width:20px;
    height:2px;
    box-shadow:inset 0 0 0 32px,0 -6px,0 6px;
    margin:16px 7px;
    display: block;
}

/*
 * Hide the hamburger icon by default (will be shown only on smaller screens)
 */
.topnav .icon {
  display: none;
}

/*
 * On smaller screens hide all links, except for the first active page
 * Show the hamburger that should open and close the topnav (.icon)
 */
@media screen and (max-width: 600px) {
    .topnav span.nav-item:not(.active) {display: none;}
    .topnav span.icon {
        float: right;
        display: block;
        right: 0;
        top: 0;
        color: var(--nc-lk-1);
    }
}

@media screen and (max-width: 600px) {
    .topnav .nav-separator {
        display: none;
    }
}

/*
 * The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
 * When clicked show all the pages in the navbar
 */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive span.icon {
        position: absolute;
        right: 0;
        top: 0;
        color: var(--nc-lk-2);
    }
    .topnav.responsive span {
        float: none;
        display: block;
        text-align: left;
    }
    /* Hack otherwise only the current page is shown in the menu when deployed */
    .topnav.responsive span.nav-item:not(.active) {display: block;}
}
