div.boids button.active {
    background: #38b57e;
}

div.boids button.inactive {
    background: #d37676;
}

div.boids tr.settings-table-values td {
    vertical-align: top;
    text-align: center;
}

div.boids th {
    text-align: center;
}
