.cv h2,h3 {
    text-align: center;
}
.cv-contact {
    display: flex;
}

.cv-contact div {
    padding: 0 1em;
    width: calc(100%/2)
}

.cv-contact-right {
    text-align: right;
}

.cv-info p {
    text-align: center;
    font-style: italic;
}
