.post-subheader {
    font-style: italic;
    color: var(--nc-tx-3);
}

.post-date {
    font-family: var(--nc-font-mono);
}

/* Don't show the post date on smaller screens */
@media screen and (max-width: 600px) {
    .post-date {
        display: none;
    }
}

.formatted-tag {
    font-family: var(--nc-font-mono);
    /* Graying out https://stackoverflow.com/a/5081723/4194289 */
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

.not-found {
    text-align: center;
}

#not-found-canvas {
    z-index: -1;
}

/* Remove underline added by newcss under links */
a {
    text-decoration: none;
}

/* Limit the size of code snippets */
pre {
    max-height: 50rem
}

/* Center all images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.focus {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left:0;
  z-index: 2;
  object-fit: contain;
}

div.img_background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  background: red;
  color: red;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}

.noscroll {
    overflow: hidden;
}

ul {
    list-style-type: circle;
}
