{# Inline CSS file concatenate all the CSS assets and then injected in #}
{# base.njk template #}

{% include "css/framework/new.css" %}
{% include "css/framework/prism.css" %}
{% include "css/index.css" %}
{% include "css/material.css" %}
{% include "css/navbar.css" %}
{% include "css/comments.css" %}
{% include "css/kbd.css" %}

{% if '/about/' in page.url %}
    {% include "css/about.css" %}
{% endif %}

{% if '/CV/' in page.url %}
    {% include "css/CV.css" %}
{% endif %}

{% if 'boids' in page.url %}
    {% include "css/boids.css" %}
{% endif %}

{% if 'minesweeper' in page.url %}
    {% include "css/minesweeper.css" %}
{% endif %}

{% if 'projects' in page.url %}
    {% include "css/projects.css" %}
{% endif %}

{% if 'color_picker_shader' in page.url %}
    {% include "css/colorpicker.css" %}
{% endif %}

{% if site.env === "dev" %}
    {% include "css/ribbon.css" %}
{% endif %}
