---
layout: layouts/base.njk
templateClass: tmpl-coolcover
---

<h2>{{ title }}</h2>
<p><a href="{{ '/coolcovers/' | url }}">← Back</a></p>
{{ content | safe }}
<p><a href="{{ '/coolcovers/' | url }}">← Back</a></p>
