---
layout: layouts/base.njk
templateClass: tmpl-note
---

<h2>{{ title }}</h2>
<p><a href="{{ '/notes/' | url }}">← Notes</a></p>
<p>Tags: <span class="formatted-tag">{{ tags | noteTags}}</span></p>


{{ content | safe }}

<p><a href="{{ '/notes/' | url }}">← Notes</a></p>
