---
layout: layouts/base.njk
templateClass: tmpl-post
---

<h2>{{ title }}</h2>
<p class="post-subheader">
    <span id="post_date"></span>
    - {{ content | wordCount }} words
    - <span id="commentCounter"></span> <span id="comment_word"></span>

</p>
<p><a href="{{ '/' | url }}">← Posts</a></p>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Posts</a></p>

{# Related posts section #}
{# TODO: Refactor that, this is not robust #}
<hr>
{% set currentTag = tags[1]  %}
{% set related = collections[currentTag] | relatedPosts(page) %}
<p>
<h3>Related posts</h3>
{% if related.length > 0 %}
<p>Posts in the same category: <span class='formatted-tag'>[{{currentTag}}]<span><p>
<ul>
    {%- for post in related -%}
        <li>
            <a class="post-link" href={{post.url}}>{{ post.title }}</a>
        </li>
    {%- endfor -%}
</ul>
<p>
{% else %}
<p>No other posts in the category <span class='formatted-tag'>[{{currentTag}}]<span></p>
{% endif %}

{# Comments section #}
<hr>
<comments>
    <h3>Comments</h3>
    <a class="add-comment-btn" href="https://github.com/statox/blog-comments/issues/{{commentIssueId}}#new_comment_field"  target="_blank" rel="noopener noreferrer">
        <button>Comment on Github</button>
    </a>
    <br>
</comments>

{# Include inline JS from _includes/scripts files #}
{% set inlineJS %}
      {% include "scripts/githubComments.js" %}
      {% include "scripts/responsivePost.js" %}
{% endset %}

<script>
    {{ inlineJS | safe }}
</script>
