---
layout: layouts/base.njk
templateClass: tmpl-posts
---

<ul>
{%- for post in collections.post | reverse -%}
    <li>
        <span class="post-date">{{ post.date | datePost }}</span> <a class="post-link" href="{{post.url}}">{{ post.data.title }}</a>
    </li>
{%- endfor -%}
</ul>

{% if site.env === "dev" %}
    <br/>
    <h2 style="text-align: center">Drafts</h2>
    <ul>
    {%- for post in collections.draft | reverse -%}
        <li>
            <span class="post-date">{{ post.date | datePost }}</span> <a class="post-link" href="{{post.url}}">{{ post.data.title }}</a>
        </li>
    {%- endfor -%}
    </ul>
{% endif %}
