---
layout: layouts/base.njk
templateClass: tmpl-post
---

<h2>{{ title }}</h2>
<p class="post-subheader">{{page.date.toLocaleDateString(undefined,  { year: 'numeric', month: 'long', day: 'numeric' })}} - {{ content | wordCount }} words</p>
<p><a href="{{ '/' | url }}">← Posts</a></p>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Posts</a></p>

<hr>
<comments>
    <h3>Comments</h3>
    <a class="add-comment-btn" href="https://github.com/statox/blog-comments/issues/{{commentIssueId}}#new_comment_field"  target="_blank" rel="noopener noreferrer">
        <button>Comment on Github</button>
    </a>
    <br>
</comments>

<script type="text/javascript" src="{{ '/scripts/githubComments.js' | url }}"></script>
<script type="text/javascript">
    setupCommentsInPage({{commentIssueId}});
</script>
